* {
  margin: 0;
}

body {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #989696;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: silver;
  height: 8em;
  padding: 2em;
}

h1 {
  padding-bottom: 1.5em;
}

nav {
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style: none;
}

li {
  float: left;
  text-align: center;
  margin-right: 10px;
  padding: 10px;
  width: 10em;
  border: 1px solid black;
  box-shadow: 5px 5px #6d6d6d;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;

}

section {
  padding: 64px;
}

.contacto {
  padding: 64px;
}

h2 {
  padding-bottom: 2em;
  text-align: center;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 2px solid #000;
  box-shadow: 10px 10px #6d6d6d;
}

div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em;
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #000;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: text-top;
  height: 5em;
  resize: vertical;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: 0.5em;
}

footer {
  text-align: center;
  background-color: #6d6d6d;
  margin-top: auto;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

div.contenedor {
  display: flex;
  flex-wrap: wrap;
}

div.contenedor>img {
  flex: 1 1 30%;
  margin: 1em;
}